body {
  background-color: #1e1e1e;
  margin: 0;
}

article {    
  margin: auto;
  padding: 50px;
  padding-top: 100px;
}

.cards_page {
  max-width: 1500px;
}

.history_page {
  max-width: 1100px;
}

li a {
  color: #ffffff;
  text-decoration: none;
}